/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #212121;
  --background-light: #343541;
  --text-light: #ECECF1;
  --text-dark: #CDCDD0;
  --border-color: rgba(255, 255, 255, 0.2);
  --input-background: #40414F;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
}

/* Custom scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--background-dark); }
::-webkit-scrollbar-thumb { background: #555; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #666; }